api:
  dashboard: true

service:
  type: NodePort
# tolerations:
#   - key: "node-role.kubernetes.io/control-plane"
#     operator: "Exists"
#     effect: "NoSchedule"

ingressClass:
  enabled: false

providers:
  kubernetesIngress:
     enabled: false
  kubernetesGateway:
     enabled: true

gateway:
  listeners:
    namespacePolicy: ALL

# Enable Observability
logs:
  general:
    level: INFO
  # This enables access logs, outputting them to Traefik's standard output by default. The [Access Logs Documentation](https://doc.traefik.io/traefik/observability/access-logs/) covers formatting, filtering, and output options.
  access:
    enabled: true

# Enables Prometheus for Metrics
metrics:
  prometheus:
    enabled: true
